<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>learn Resources</title>
	<link type="text/css" href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>

</head>
<body style="background-image: none;">
    <div class="body_wrap">
        <div class="container">
            <div class="alert alert-success text-center" role="alert">Sptring Boot学习资源大奉送，全流程演示</div>
            <a href="/toInsertSiteInfo" th:href="@{/toInsertSiteInfo}" class="btn btn-info">add</a>          
            <table class="table table-striped table-bordered">
                <tr>
                    <td>ID</td>
                    <td>名称</td>
                    <td>描述</td>
                    <td>地址</td>
                    <td>操作</td>
                </tr>
                <!--/*@thymesVar id="siteResultList" type=""*/-->
                <tr th:each="siteResult : ${siteResultList}" class="text-info">
                	<td th:text="${siteResult.data.id}">Id</td>
                    <td th:text="${siteResult.data.name}">嘟嘟MD</td>
                    <td th:text="${siteResult.data.remark}">SPringBoot干货系列</td>
                    <td><a href="#" th:href="${siteResult.data.url}" class="btn btn-search btn-green" target="_blank"><span>点我</span></a>
                    </td>
                    <td><a href="/toUpdateSiteInfo" th:href="@{/toUpdateSiteInfo(id=${siteResult.data.id})}" class="btn btn-info">update</a>
                    	<a href="/deleteSiteInfoById" th:href="@{/deleteSiteInfoById(id=${siteResult.data.id})}" class="btn btn-info">delete</a>
                    </td>
                </tr>
            </table>

        </div>
        <!--/ container -->
    </div>
</body>
</html>